__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

venv/
env/
.env
.env.*
venv-*/

assets/
assets.zip

*.wav
*.json
!configs/default.json
!editor/src/locales.json
runtime/prompt/prompt_da_profilo.txt
runtime/temp_run.json

settings.json

*.mp3
*.mp4
video/

*.pdf
generate_autointervista_pdf.py
fix domande.txt
titolo_adam_hackersgen.png

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini